@tailwind base;
@layer base {
  html {
    @apply font-serif;
    /* Apply Aliasing to Fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply text-base;
  }
}
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .software-list {
    width: 80%;
  }

  .software-item:nth-child(4n + 1),
  .software-item:nth-child(4n + 2) {
    transform: translateX(50%);
  }
}
